.selectDiv {
    width: 100%;
    height: 52px;
    background: #FFFFFF;
    border: 1px solid #DBE2EA;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
    border-radius: 6px;
}

.selectDiv:focus {
    border: 2px solid #0880AE;
}

#select_value {
    margin: 16px;
    display: inline-block;
}

#select_value.placeholder {
    color: #7C9CBF;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    line-height: 44px;
    font-size: 16px;
    color: #756F86;
    padding-left: 15px;
}

li:hover {
    background: #EBF4F8;
}

.dropList {
    position: absolute;
    left: 0px;
    top: 75px;
    width: 100%;
    height: 200px;
    display: none;
    background: #FFFFFF;
    border: 1px solid #DBE2EA;
    box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04), 0px 20px 20px rgba(44, 39, 56, 0.04);
    border-radius: 6px;
    box-sizing: border-box;
    padding: 12px 0;
}




